extends basic

block body
	div(class="navbar-fixed"): nav(class="red", role="navigation")
		div(class="nav-wrapper container")
			a(id="logo-container" href="#" class="brand-logo") #{nav.title}

			ul(id="nav-mobile" class="right hide-on-med-and-down")
				li: a(href="/") Setup
				li: a(href="/update") Update

	div(id="main-container" class="container")
		div(class="row")
			div(id="menu" class="section col s12 m12 l2"): div(class="table-of-contents pinned")
				each item in menu
					li: a(href="#" id="menu-item-" + item.id class="menu-item"
						data-prevent-next=item.preventNext ? "true" : "false") #{item.name}

			div(class="section col s12 m12 l10")
				block content

	if existingData
		span(id="existing-data" style="display: none;")!=existingData

	div(id="new-version-modal" class="modal")
		div(class="modal-content")
			h4 New version available!
			p: strong Version #[span(id="span-new-version")] is available for download!
		div(class="modal-footer")
			a(href="/update" class="modal-action modal-close waves-effect btn blue") Update
			a(href="#" class="modal-action modal-close waves-effect btn red"
				style="margin-right: 5px;") Close